.white-theme {
  background-color: azure;
  color: black;
}

.black-theme {
  background-color: black;
  color: white;
}

.black-theme .bg-light {
  background-color: black !important;
}

.black-theme .nav-link,
.black-theme .navbar-light .navbar-brand {
  color: white !important;
}

.container {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time {
  font-size: calc(5rem + 1.5vw) !important;
}

.action {
  display: flex;
  gap: 15px;
}

.action button {
  width: 100px;
}